html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $text;
  background-color: $bg;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}



