@media(max-width: 1630px) {
  .play__img {
    top: 462px;
    width: 42%;
  }
}

@media(max-width: 1500px) {
  .play__img {
    top: 575px;
    width: 35%;
  }
}

@media(max-width: 1385px) {
  .play__img {
    top: 700px;
    width: 21%;
    right: 0;
    left: auto;
  }
  .play-slider {
    margin-left: 0;
    margin-right: auto;
  }
  .play-background__wrapper {
    left: 110px;
  }
}

@media(max-width: 1300px) {
  .play__img {
    display: none;
  }
  .play-background__wrapper{
    display: none;
  }
  .play-slider .slick-list.draggable {
    border-radius: 0;
    margin-right: 0;
    padding:  0;
  }
  .play-slider{
    margin: 0 auto;
  }
  .play__box {
    padding: 60px 15px;
  }
  .play__inner {
    position: relative;
    padding: 100px 0 ;
  }
}

@media(max-width: 1000px) {
  .advantages__inner{
    flex-direction: column-reverse;
    align-items: center;
  }
  .advantages__info-box{
    margin-bottom: 40px;
    margin-top: 0;
  }
  .join__box-bottom-wrapper {
    padding: 80px 0;
  }
  .join-bottom {
    max-height: 190px;
  }
  .join__box-top-wrapper{
    display: block;
  }
  .join__aside{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }
  .join__aside-item{
    max-width: 260px;
  }
  .join__map{
    margin: 0 auto;
  }
  .join__inner {
    padding: 100px 0 250px;
  }

  .game__item {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .games__box-row {
    margin: 0 -5px;
  }
}

@media(max-width: 950px) {
  .search-form__type-1 {
    min-width: 240px;
  }
  .header__nav li + li {
    margin-left: 26px;
  }
  .games__box{
    display: flex;
    justify-content: center;
  }
  .games__box-row{
    flex-direction: column;
    margin: 0 15px 0 15px;
    max-width: 350px;
    width: 100%;
  }
  .game__item{
    margin: 0 0 30px 0;
  }

}

@media(max-width: 880px) {
  .play-slider {
    max-width: 540px;
  }
}

@media(max-width: 850px) {
  .join__box-bottom-wrapper{
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
  .join-bottom__item{
    margin: 0 auto 30px;
    &::before{
      display: none;
    }
    img{
      height: 60px;
      margin-bottom: 10px;
    }
    .join-bottom__item-text {
      font-size: 20px;
    }
  }
  .join__aside-item{
    padding: 20px;
    margin: 0 10px 40px 10px;
  }
  .join__aside-number {
    font-size: 20px;
  }
  .join__map{
    margin-bottom: 100px;
  }
  .join__map {
    margin-bottom: 185px;
  }
  .join-bottom {
    max-height: 394px;
  }
}

@media(max-width: 800px) {
  .header-top {
    .header-search {
      display: flex;
    }
  }
  .header-top__box {
    display: none;
  }
  .header-top {
    height: 50px;

  }
  .header-top__logo {
    .logo {
      width: 150px;
      height: 17px;
    }

  }
  .header {
    position: relative;
  }
  .header-search {
    position: absolute;
    top: -60px;
    left: 0;
    display: flex;
    width: 100%;
    background-color: $bg;

    .search-form__type-1 {
      margin: 0 auto;

      input {
        height: 40px;
        max-width: 100%;
      }

      .search__icon {
        top: 12px;
        right: 15px;

      }
    }
  }
  .header-top__btn-menu {
    display: block;
  }
  .header-top__search {
    display: block;
  }
  .header-search__bottom {
    display: none;
  }
  .header-bottom {
    height: auto;
    display: block;
    max-width: 290px;
    width: 100%;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 20;
    left: -100%;
    transition: .5s all;

    &.active {
      left: 15px;
    }
  }
  .header__nav {
    margin-bottom: 20px;

    li {
      display: block;
      border-bottom: 1px solid #6c6cd2;
      padding: 5px 0;
      transition: .3s all;

      &:hover {
        padding: 5px 0 5px 15px;
      }
    }

    li + li {
      margin: 0;
    }
  }
  .header-bottom__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-top__language {
      margin-left: 20px;
    }

    .social__links {
      margin-bottom: 10px;
    }
  }
  .search-form__btn-close {
    display: block;
  }
  .content-top__inner {
    padding: 50px 0 50px;
  }
  .content-top__wrapper::before {
    content: ' ';
    min-height: 600px;
  }
  .content-top__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .content-top__text {
    font-size: 21px;
  }
  .content-top__play-wrapper {
    transform: scale(.7);
  }
  .content-top__play {
    margin-right: 30px;
  }
  .advantages__inner {
    padding: 100px 0 50px;
  }
  .advantages__info-title {
    font-size: 50px;
    line-height: 60px;
  }
  .advantages__info-small-title {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .join__map{
    .join__map-inner{
      margin: 0 auto;
      height: 300px;
      width: 500px;
    }
    img{
      height: 300px;
      width: 500px;
    }
  }
  .join__map {
    margin-bottom: 100px;
  }
}

@media(max-width: 700px) {
  .join__aside{
    display: block;
  }
  .join__aside-item{
    max-width: 1000px;
    margin: 0 0 20px 0;
  }
  .games__box{
    display: block;
  }
  .games__box-row{
    margin: 0 auto;
  }
  .games__inner {
    padding: 100px 0 100px;
  }

}

@media(max-width: 600px) {
  .headline{
    .headline__text-top {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .headline__title{
      color: #fff;
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 15px;
    }
    .headline__text {
      font-size: 16px;
    }
  }
  .play__inner {
    padding: 50px 0;
  }
  .play-slider {
    max-width: 257px;
  }
}

@media(max-width: 570px) {
  .content-top__links {
    flex-direction: column;

    a {
      margin-bottom: 10px;
    }
  }
  .advantages__items-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .advantages__items-row{
    margin: 0;
  }
  .content-top__wrapper {
    margin-bottom: 0;
  }
  .content-top__inner {
    padding: 50px 0 0;
  }
  .content-top__play {
    margin: 60px auto 0;
  }
  .join__map .join__map-inner {
    height: 200px;
    width: 400px;
    img{
      height: 200px;
      width: 400px;
    }
  }
  .join__map {
    margin-bottom: 10px;
    margin-top: 60px;
  }
}

@media(max-width: 470px) {
  .content-top__inner {
    flex-direction: column;
  }
  .content-top__wrapper::before {
    content: ' ';
    min-height: 550px;
  }
  .btn {
    padding: 8px 25px;
  }
  .light-animate__yellow1 {
    display: none;
  }
  .light-animate__yellow3 {
    display: none;
  }
  .light-animate__blue2 {
    display: none;
  }
  .join__map .join__map-inner {
    height: 150px;
    width: 260px;
    img{
      height: 150px;
      width: 260px;
    }
  }
  .join__map {
    margin-bottom: 0;
    margin-top: 40px;
  }
  .join__inner {
    padding: 100px 0 200px;
  }
}

@media(max-width: 420px) {
  .header-search {
    .search-form__type-1 {
      margin: 0 0 0 14px;
      max-width: 240px;
    }
  }
}


