$bg: #171744;
$bgDark: #eff1f5;
$bgLight: #1d1d55;
$bgItem: #202066;
$purple: #4747c7;
$wave: #05c3de;
$textDark: #abb4ca;
$text: #f3f2fd;
$textPurple: #dde3ff;

@mixin first {

}
@mixin second {

}

@mixin third{

}