@import '_vars';
@import '_global';
@import '_fonts';

.content-top__wrapper {
  position: relative;
  margin-bottom: 100px;
  &::before {
    content: ' ';
    position: absolute;
    z-index: -10;
    background-image: url("../images/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 930px;
  }
}

//header start
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.header-top__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 485px;
  width: 100%;
}

.header-top__btn {
  margin-left: 30px;
}

.header-top__language {
  margin-left: 30px;
  display: flex;
  align-items: center;

  .icon__earth {
    margin-right: 10px;
  }

  form {
    width: 105px;
    height: 28px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "\eac8";
      font-family: 'IcoFont' !important;
      position: absolute;
      z-index: 1;
      top: 1px;
      right: -4px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url("../images/icons/earth.svg");
      width: 22px;
      height: 22px;
      top: 3px;
      left: -20px;
      z-index: 11;
    }
  }
}

.jq-selectbox {
  cursor: pointer;
  position: relative;
  width: 100%;
}

.jq-selectbox__select-text {
  padding-left: 10px;
}

.jq-selectbox__dropdown {
  width: 100%;
  background-color: $bg;

  li {
    padding: 4px 10px 4px 10px;
    transition: .3s;

    &.disabled {
      cursor: default;
      color: $textDark;
    }

    &:hover {
      background-color: $wave;

      &.disabled {
        background-color: $bg;
      }
    }

  }

  li + li {
    border-top: 1px solid $wave;
  }
}

.header-top__btn {
  .btn {
    min-width: 160px;
  }
}

.background__img {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  top: 0;
  right: 0;
}

.light-animate__yellow1 {
  top: 85px;
  left: 230px;
  animation-delay: -1s;
}

.light-animate__yellow2 {
  top: 160px;
  right: 50%;
  animation-delay: -8s;
}

.light-animate__yellow3 {
  top: 220px;
  right: 5px;
  animation-delay: -5s;
}

.light-animate__blue1 {
  top: 270px;
  left: 195px;
  animation-delay: -2s;
}

.light-animate__blue2 {
  top: 290px;
  left: 56%;
}

.light-animate__blue-thin1 {
  top: 300px;
  left: 880px;
}

.light-animate__blue-thin2 {
  top: 82px;
  left: 533px;
}

.light-animate__red1 {
  top: 104px;
  right: 25px;
}

.header-bottom {
  background-color: $purple;
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #6c6cd2;
  border-bottom: 1px solid #6c6cd2;
}

.header__nav {
  li {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

    a {
      color: $text;
      transition: .3s;

      &:hover {
        color: $wave;
      }
    }

  }

  li + li {
    margin-left: 40px;
  }
}

// header end


// content-top start

.content-top__inner {
  display: flex;
  justify-content: space-between;
  padding: 160px 0 150px;
}

.content-top__box {
  max-width: 500px;
}

.content-top__title {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 10px;
  color: #fff;
}

.content-top__text{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content-top__text-bottom{
  display: block;
  color: $textPurple;
}

.content-top__links{
  display: flex;
  justify-content: space-between;
  max-width: 390px;
  width: 100%;
  margin-bottom: 20px;
}

.content-top__link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .right-arrow{
    margin-left: 10px;
  }

  &.sing-up{
    max-width: 160px;
    width: 100%;
  }

  &.browse-games{
    max-width: 200px;
    width: 100%;
    background: transparent;
    border: 1px solid #394670;
    box-shadow: none;
  }

}
.content-top__play{
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.content-top__play-wrapper{
  position: relative;
  .play-btn{
    background-color: #1a5cb0;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3),
    0px 0px 0px 20px rgba(26, 92, 176, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    .play-btn__triangle{
      margin-left: 6px;
    }
  }
  .play-btn__round-wrapper{
    width: 81px;
    height: 81px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .play-btn__round{
      animation: play-btn__round 6s linear infinite;
    }
  }
}

@keyframes play-btn__round {
  0%{
    transform: rotate(0deg)}
  50%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

// content-top end

// advantages start

.advantages{
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    z-index: -10;
    background-image: url("../images/background/background-advantages.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
  }
}

.advantages__inner{
  padding: 30px 0 90px;
  display: flex;
  justify-content: space-between;
}

.advantages__info-box{
  max-width: 540px;
}

.advantages__items-box{
  display: flex;
  max-width: 570px;
  width: 100%;
}

.advantages__items-row{
  margin-right: 30px;
}

.advantages__items-row-right{
  margin-top: 60px;
}

.advantages__item{
  background-color: #1d1d55;
  border-radius: 10px;
  text-align: center;
  max-width: 255px;
  padding: 28px 24px;
  margin-bottom: 30px;
  transition: 3s all;
  position: relative;
  z-index: 3;
  &::before{
    content: ' ';
    background: linear-gradient( -180deg, rgb(115,240,255) 0%, rgb(90,167,254) 38%, rgb(64,94,252) 100%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: .4s all;
  }
  &:hover{
    &::before{
      opacity: 1;
    }
    .advantages__item-img{
      &::before{
        opacity: 1;
      }
    }
    .advantages__item-link{
      color: $wave;
      path{
        fill: $wave;
      }
    }
  }
}

.advantages__item-img{
  background: linear-gradient( -180deg, rgba(115,240,255, 0.2) 0%, rgba(64,94,252, 0.2) 100%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before{
    content: ' ';
    background: linear-gradient( 0deg, rgb(115,240,255) 0%, rgb(64,94,252) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: .4s all;
  }

  img{
    z-index: 3;
  }

}
.advantages__item-img__mouse{

  img{
    transform: translate(-12px);
  }

}

.advantages__item-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.advantages__item-text{
  font-size: 18px;
  margin: 0 10px 25px;
}

.advantages__item-link{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s;
  .arrow-right__img{
    margin-left: 3px;
    path{
      transition: .3s;
    }
  }
}

.advantages__info-box{
  margin-top: 155px;
  p{
    font-size: 18px;
  }
}

.advantages__info-small-title{
  text-transform: uppercase;
  color: $wave;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.advantages__info-title{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}
.advantages__info-text__box{
  margin-bottom: 25px;
  a{
    line-height: 0;
  }
}

.advantages__btn{
  background: linear-gradient( 90deg, rgb(193,101,221) 0%, rgb(92,39,254) 100%);
  max-width: 230px;
  width: 100%;
}

.advantages__text-top{
  font-weight: 600;
}

.light-animate__yellow4{
  top: 250px;
  right: 5%;
  animation-delay: -2s;
}

.light-animate__red2{
  top: 10px;
  right: 20%;
  animation-delay: -3s;
}

.light-animate__blue3{
  top: 380px;
  right: 10%;
  animation-delay: -1s;
}

.light-animate__blue-thin3{
  transform:  scale(0.3);
  top: 350px;
  right: 26%;
  animation-delay: -1s;
}

.light-animate__blue-thin4{
  top: 400px;
  left: 5%;
  animation-delay: -4s;
}

.light-animate__blue-thin5{
  transform:  scale(0.2);
  top: 700px;
  left: 7%;
  animation-delay: -3s;
}

.light-animate__blue-thin6{
  transform: scale(0.1);
  bottom: 200px;
  right: 5%;
  animation-delay: -9s;
}

.light-animate__blue-thick1{
  top: 200px;
  left: 25%;
  animation-delay: -1;
}

.light-animate__blue-thick2{
  transform: scale(0.1);
  top: 200px;
  left: 23%;
  animation-delay: -7s;
}

.light-animate__blue-thick3{
  transform: scale(0.1);
  top: 270px;
  left: 22%;
  animation-delay: -4s;
}

.light-animate__blue-long1{
  transform:  scale(0.1);
  top: 100px;
  left: 18%;
  animation-delay: -7s;
}

.light-animate__blue-long2{
  top: 400px;
  left: 10%;
  animation-delay: -5s;
}
// advantages end


@import '_media';